/* App.css */
.card {
  position: relative;
  
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  max-width: 400px;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
}

.card-title {
  font-size: 1.5rem;
  /* タイトルのサイズを大きく */
  font-weight: bold;
  /* 文字を太く */
  color: #333;
  /* 文字の色を濃く */
  margin-bottom: 0.5rem;
  background-color: #d32f2f;
}

.card-description {
  margin-bottom: 1rem;
  color: #666;
  /* 内容の文字の色 */
}

.card button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #d32f2f;
}